.linhaSlider{
    margin-top: -20px;
}
html, body{
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background: #FFFFFF;
}
.corVerm{
    color: red !important;
}
.link{
    text-decoration: underline;
    color: #00AAE7;
}
@-moz-document url-prefix() {
    .iframe{
        top: -240px !important;
    }
}
.iframe {
    position: relative;
    top: -120px;
    left: 4px;
    width: 200px;
    height: 250px;
    border: 0;
    zoom: 2;
    -moz-transform:scale(0.85);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.45);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.45);
    -webkit-transform-origin: 0 0;
    overflow: hidden;
}

header{
    position: relative;
    z-index: 12;
    top: 0; 
    width:100%; 
    height: 3.1em;
    background-color: #7ACC00;
    border-bottom:thick solid #318B4F;
    border-width:2px;
}
#user{
    color: black !important;
}
#logo{
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}
#html5{

    height: 50px;
    width: 182px;
    background-image: url("../images/html5.png");
    margin-right: 5px;
    float: right;
}
.galeriaImg{
    position: relative;
    left: -7px;
    top: 3px;
    width: 25px;
    border: thick solid #000000;
    border-width: 1px;
}
.miniIcoPag{
    position: relative;
    top: 5px;
    width: 25px;
    cursor: pointer;
    background-color: #5ECBFF;
    border-radius: 3px;
    margin-left: 5px;
}
#menuBotao{
    margin-left: 0px;
    margin-top: 5px;
    float: left;
    height: 40px;
    cursor: pointer;
}
#logoImg{
    background-image: url(../images/logo2.png);
    margin-left: 10px;
    margin-top: 0px;
    float: left;
    height: 46px;
    width: 261px;
    cursor: pointer;
}
.fotoProf{
    height: 100px;
    margin-left: 10px;
    margin-top: -45px;
    border: 2px solid #318B4F;
    border-radius: 5px;
}
.profFotoView{
    height: 100px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 8px;
    border: 2px solid #318B4F;
    border-radius: 5px;
    float: left;
}

#loginBotao{
    margin-left: 10px;
    margin-top: 5px;
    float: right;
    height: 40px;
    cursor: pointer;
    z-index: 20;
}
#adminBotao{
    margin-left: 10px;
    margin-top: 5px;
    float: right;
    height: 40px;
    width: 64px;
    cursor: pointer;
    z-index: 20;
    background-image: url(../images/logoutBt1.png);
}
.btIcone{
   width: 30px;
    height: 30px;
    position: relative;
    top: 8px;
    left: 5px;
    background-color: green;
    cursor: pointer;
}
.btIcone:hover{
    background-color: #00ab1d;
}
footer{
    position:absolute;
    bottom: -75px;
    width: 100%;
    height: 50px;
    background-color:rgba(180, 236, 172, 1);
    font-size: 0.9em;
    text-align: center;
}
.copyright{
    position: relative;
    bottom: -16px;
}
#corpo{
    position: absolute;
    width: 100%;
    min-height: 100%;
    margin-bottom: 3px; 
}
.liimg{
    margin-top: -11px;
    float: left;
    width: 16%;
}
a{
    color: inherit;
}
#menuBarra {
    border-right-color: #FFFFFF;
    border-right-style: solid;
    border-left: 1px;
    height: 200px;
    position: absolute;
    top: -17px;
    z-index: 10;
    width: 260px;
    background-color: rgba(255, 255, 255, 0.48);
   
}
#menuBarra li {
    height: 30px;
    width: 114%;
    position: relative;
    left: -40px;
    text-decoration: none;
    list-style-type:none;
    font-size: 1em;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 3px;
    border-top: 1px;
}
#menuBarra2 {
    border-right-color: #FFFFFF;
    border-right-style: solid;
    border-left: 1px;
    height: 196px;
    position: absolute;
    top: -17px;
    z-index: 10;
    width: 260px;
    background-color:rgba(53, 53, 53, 0.9);
   
}
#menuBarra2 li {
    height: 30px;
    width: 114%;
    position: relative;
    left: -40px;
    text-decoration: none;
    list-style-type:none;
    font-size: 1em;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 3px;
    border-top: 1px;
}
#imgCampi{
    background-image: url("../images/campi.jpg");
    height: 193px;
    width: 100%;
    background-position: 0px 0px;
    -webkit-animation: loop 70s linear infinite alternate;
    animation: loop 70s linear infinite alternate;
    -moz-animation: loop 70s linear infinite alternate;
}
@-webkit-keyframes loop {
    0% { background-position: 0 0; }
	100%{ background-position: -250px -900px;}

}
@-moz-keyframes loop {
    0% { background-position: 0 0; }
	100%{ background-position: -250px -900px;}

}
@keyframes loop {
    0% { background-position: 0 0; }
	100%{ background-position: -250px -900px;}

}
#imgCampi:before{
    background-position: 1351px -1007px;
}
/*##################################################*/
#menuBarra2 li {
    color: white;
    text-shadow:  1px 1px #000000;
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.36);
}
#menuBarra2 li:hover { 
    cursor: pointer;
    background-color: #FFFFFF;
    color: black;
    text-shadow:  2px 2px #ffffff;
}
#menuBarra li {
    color: white;
    text-shadow:  1px 1px #000000;
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.36);
}
#menuBarra li:hover { 
    cursor: pointer;
    background-color: #FFFFFF;
    color: black;
    text-shadow:  2px 2px #ffffff;
}
a{
    text-decoration: none;
}
#bloco{
    position: relative;
    top: -13px;
    width: 100%;    
}
#blocoFrom{
    overflow:hidden;
    width: 100%;
    height: 100%;
}
.areatexto{
    width: 700px;
    height: 900px;
}

.box{
    height: 500px;
    border-bottom: 2px;
    border-color: black;
}
.box1{
    height: 560px;
    background-color: rgba(151, 175, 114, 0.57);
    border-bottom: thick solid #459148;
    border-width: 5px;
}

#blocoAdm{
    padding-bottom: 50px;
    overflow:hidden;
    width: 100%;
    height: 100%;
    margin: auto;
}
#logo a{
    color: #ffffff;
    font-size: 1.2em;
    text-shadow:1px 1px #000000;
    text-decoration: none;
}

.formLogin{
    position: relative;
    left: 40%;
    top: -50px;
    width: 250px;
    height: 200px;
    float: left;
    background-color: rgb(76, 187, 41);
    margin-left: 10px;
    border: 2px solid #318B4F;
    border-radius: 5px;
     -moz-box-shadow: 3px 3px 8px #888;
    -webkit-box-shadow: 3px 3px 8px #888;
    box-shadow: 3px 3px 8px #888;
}
.login{
    margin-top: 25px;
    width: 90px;
}
#formBarra{
    display: none;
    float: right;
    width: 375px;
    height: 30px;
    padding-top: 11px;
    background: #7ACC00;
}

p{
    text-align: justify;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

h1{
    clear: both;
    text-indent: 15px;
    text-align: justify;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;
}
#btLogin{
    position: relative;
    top: 20px;
    left: 55px;
}
.labelBt{
    font-size: 0.8em;
    text-align: center;
    text-shadow:  1px 1px 2px #000000;
    font-weight: bold;
    color: #ffffff;
    float: left;
    font-size: 1em;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 5px;
    
}
.labelBt2{
    text-align: center;
    color: black;
    font-weight: bold;
    float: left;
    font-size: 1em;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 12px;
}

label.error { position: relative;left: 5px; top: 3px; color: #339900; margin: 0 .5em 0 0; vertical-align: top; font-size: 1em }



#ola{
    float: right;
    color: white;
    margin-top: 14px;
    margin-right: 10px;
}
.painelInfo1{
    position: relative;
    top: 50px;
    background-color: rgba(255, 201, 105, 0.67);
    border-radius: 10px;
    width: 80%;
    height: 139px;
    margin: auto;
}
.painelInfo{
    clear: both;
    position: relative;
    top: 320px;
    background-color: rgba(255, 201, 105, 0.67);
    border-radius: 10px;
    margin: auto;
}
.painel{
    position: relative;
    top: -17px;
    float: left;
    width: 200px;
    height: 200px;
    margin: 28px 20px 20px 20px;
    border-radius: 20px;
    background-color: #79E073;
    cursor: pointer;
-moz-box-shadow: 5px 5px 8px #888;
-webkit-box-shadow: 5px 5px 8px #888;
box-shadow: 5px 5px 8px #888;
}
.painel:hover{
    background-color: #A7CCA5;
}

.imgBtPainel{
    margin-top: 12px;
    width: 200px;
}
.miniMenu{
    float:left;
}
.botaoMiniMenu{
    width: 128px;
    float: left;
    height: 13px;
}
.painelMini{
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
    -moz-box-shadow: 5px 5px 8px #888;
    -webkit-box-shadow: 5px 5px 8px #888;
    box-shadow: 5px 5px 8px #888;
}
.painelMini:hover{
    background-color: #A7CCA5;
}

.imgBtPainelMini{
    margin-top: 6px;
    width: 100px;
}

.colunaPainel{
    clear: both;
    position: relative;
    width: 730px;
    margin: auto;
}
.coluna1Painel{
    float: left;
    clear: both;
}
.linha2Painel{
    position: relative;
    top: 155px;
}
.coluna2Painel{
    position: relative;
    left: 60px;
    top: -22px;
}
.voltar{
    float: left;
    width: 50px;
    height: 50px;
    margin: 7px 0px 20px 33px;
    border-radius: 5px;
    background-color: #ff5656;
    cursor: pointer;
    -moz-box-shadow: 3px 3px 8px #888;
    -webkit-box-shadow: 3px 3px 8px #888;
    box-shadow: 3px 3px 8px #888;
}
.voltarP{
     width: 30px !important;
     height: 30px !important;
}
.voltar:hover{
    background-color: #ff9c9c;
}
.botaoPequenoFrom{
    float: left;
    width: 50px;
    height: 50px;
    margin: 7px 0px 5px 33px;
    border-radius: 5px;
    background-color: #b3d8ff;
    cursor: pointer;
    -moz-box-shadow: 3px 3px 8px #888;
    -webkit-box-shadow: 3px 3px 8px #888;
    box-shadow: 3px 3px 8px #888;
}
.botaoPequenoFrom:hover{
    background-color: #7cbbff
}

.imgBtvolta{
    margin-top: 2px;
    width: 50px;
}
.imgBtminiAdd{
    width: 30px !important;
    cursor: pointer;
}
.imgBtminiRem{
    width: 30px !important;
    cursor: pointer;
    float: left;
    position: relative;
    top: 13px;
    left: 35px;
    z-index: 9;
}

.imgBtvoltaP{
    margin-top: 2px;
    width: 30px;
}
.imgPnIco{
    margin-top: 2px;
    width: 30px;
}
.PnIco{
    width: 30px;
    height: 30px;
    margin: 7px 0px 5px 33px;
    border-radius: 5px;
    background-color: #000000;
}
.PnLabel{
    float: left;
    position: relative;
    top: -31px;
    width: 400px;
    margin-left: 70px;
    font-size: 1.2em;
}

.formBloco{
    padding-bottom: 220px;
    position: relative;
    top: 20px;
    margin-left: 10px;
}
.botoesMenuView{
    width: 700px;
    padding-bottom: 26px;
    position: relative;
    top: 20px;
    margin-left: 10px;
}
.tabela{
   position: relative;
   top: 15px;
   border-collapse: collapse;
   width: 90%;
}
.ofertas{
    width: 85% !important;
}
.tabelaListagen{
   position: relative;
   top: 15px;
   left: 45px;
   border-collapse: collapse;
   width: 70%;
   text-align: center;
}
.tabelaOptativa{
   position: relative;
   top: 0px;
   left: 10px;
   border-collapse: collapse;
   width: 110px;
   text-align: center;
}
.tabelaOptativa tr td{
    border: 3px solid;
    background-color: #E2FFC2;
    border-color: #BAEC60;
    text-align: center;
}
.tabelaListagen tr td{
    border: 3px solid;
    border-color: rgba(31, 153, 0, 0.17);
}
.profTabela{
    width: 50%;
}
.OBsTabela{
    clear: both;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 43px;
}
.tabela tr td{
    border: 3px solid;
    padding-left: 15px;
    border-color: rgba(31, 153, 0, 0.17);
}
.lixeiraIco{
    margin-top: 5px;    
    width: 20px;
    cursor: pointer;
}
.acaoIco{
    margin-top: 5px;
    margin-left: 3px;
    width: 24px;
    cursor: pointer;
}
.listaBloco{
    width: 700px;
    padding-bottom: 220px;
    position: relative;
    top: 67px;
    margin-left: 10px;
}
.linhaView{
    clear: both;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    width: 100%
}
.linhaForm{
    clear: both;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
}
.linhaForm2{
    clear: both;
    position: relative;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 50px;
    font-size: 1.3em;
}
.linhaFormLogin{
    clear: both;
    position: relative;
    top: 0px;
    margin-bottom: -20px;
    margin-left: 40px;
}
#topoForm{
    height: 38px;
    background-color: rgb(0, 77, 3);
}
.labelBox{
    position: relative;
    top: 9px;
    color: #fff;
}
.labelBoxErro{
    position: relative;
    top: 9px;
    left: 100px;
    color: #fff;
}
#alertaIcone{
    position: relative;
    top: 0px;
    left: 69px;
    width: 115px;
}
#mensagemErro{
    color: #fff;
    margin-left: -110px;
    position: relative;
    top: 22px;
    left: 5px;
}
#cadeado{
   position: relative;
    float: left;
    top: 0px;
    left: 205px;
    width: 54px;
}
.fromTextArea{
    clear: both;
    position: relative;
    left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    width: 100%;
}

.nameForm{
    margin-left: 30px;
    font-size: 1.2em;
}
.labeBotPeqForm{
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 1.2em;
}
.inputForm{
    border-radius: 4px;
    margin-left: 10px !important;
}
.labelFrom{ 
   float: left;
   width: 149px;
   text-align: right;
}
.labelFromLogin{ 
    margin-top: 28px;
    float: left;
    width: 65px;
    text-align: right;
}
.textoImput{
    width: 300px;
}
.texto{
    font-size: 1.1em;
    width: 100%;
}
.numero{
    margin-top: 2px;
    margin-left: 20px;
    height: 27px;
    width: 42px;
}

.meioForm{
    float: left
}

.btForm{
    width: 60px;
    height: 36px;
    margin-top: 12px;
    margin-right: 20px;
    float: right;
}
.linhaBtForm{
   width: 100%;
   float: left; 
}

.OptativaView{
    position: relative;
    margin-left: 10px;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 98%;
    float: left;
    background-color: #D4FFA6;
    border:thick solid #BAEC60;
    border-width:2px;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 8px #888;
    -webkit-box-shadow: 3px 3px 8px #888;
    box-shadow: 3px 3px 8px #888;
}
.nucleosView{
    position: relative;
    margin-left: 10px;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 98%;
    float: left;
    background-color: #D4FFA6;
    border:thick solid #BAEC60;
    border-width:2px;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 8px #888;
    -webkit-box-shadow: 3px 3px 8px #888;
    box-shadow: 3px 3px 8px #888;
}
.paginaView{
    position: relative;
    margin-left: 10px;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 98%;
    float: left;
    background-color: #D4FFA6;
    border:thick solid #BAEC60;
    border-width:2px;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 8px #888;
    -webkit-box-shadow: 3px 3px 8px #888;
    box-shadow: 3px 3px 8px #888;
}
.disciplinaView{
    text-align: justify;
    position: relative;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
    width: 98%;
    float: left;
    background-color: #D4FFA6;
    border:thick solid #BAEC60;
    border-width:2px;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 8px #888;
    -webkit-box-shadow: 3px 3px 8px #888;
    box-shadow: 3px 3px 8px #888;
}
.nucleosViewBox{
    text-align: center;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    border:thick solid #D4FFA6;
    border-width:2px;
    border-radius: 2px;
    margin-left: 3px;
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 8px #888;
    box-shadow: 3px 3px 8px #888;
}
.OptativaViewBox{
    text-align: center;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90px;
    margin-top: 5px;
    border:thick solid #BAEC60;
    border-width:2px;
    border-radius: 2px;
    margin-left: 3px;
    -moz-box-shadow: 3px 3px 8px #888;
    -webkit-box-shadow: 3px 3px 8px #888;
    box-shadow: 3px 3px 8px #888;
}
.pagMatViewBox{
    text-align: center;
    position: relative;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: thick solid #BAEC60;
    border-width: 2px;
    border-radius: 2px;
    margin-left: 7px;
    -moz-box-shadow: 3px 3px 8px #888;
    -webkit-box-shadow: 3px 3px 8px #888;
    box-shadow: 3px 3px 8px #888;
}
.paginaViewBox{
    float: left;
    width: 200px;
    height: 250px;
    margin-top: 15px;
    border:thick solid #BAEC60;
    border-width:2px;
    border-radius: 2px;
    margin-left: 10px;
    text-align: center;
    background-color: #FFF;
        -moz-box-shadow: 3px 3px 8px #888;
    -webkit-box-shadow: 3px 3px 8px #888;
    box-shadow: 3px 3px 8px #888;
}
.paginaViewBox2{
    float: left;
    width: 170px;
    border:thick solid #BAEC60;
    border-width:2px;
    border-radius: 2px;
    margin-top: 15px;
    margin-left: 10px;
    text-align: center;
    background-color: #FFF;
        -moz-box-shadow: 3px 3px 8px #888;
    -webkit-box-shadow: 3px 3px 8px #888;
    box-shadow: 3px 3px 8px #888;
}
.tituloPagina{
    font-weight: bold;
}
.legenda{
    position: absolute;
    margin-left: 26px;
    margin-top: -11px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8em;
    background-color: #FFFFB8;
    border: thick solid #BDB021;
    border-radius: 3px;
    border-width: 1px;
    display: none;
    z-index: 9;
}
.perfilView{
    text-align: center;
    position: relative;
    margin-left: 10px;
    margin-right: auto;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 10%;
    float: left;
    background-color: #E2FFC2;
    border:thick solid #BAEC60;
    border-radius: 5px;
    border-width:2px;
    -moz-box-shadow: 3px 3px 8px #888;
    -webkit-box-shadow: 3px 3px 8px #888;
    box-shadow: 3px 3px 8px #888;
}
.disciViewBox{
    text-align: center;
    margin: 5px auto 0px auto;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
    border:thick solid #BAEC60;
    border-width:2px;
    border-radius: 2px;
    clear: both;
    cursor: pointer;
    -moz-box-shadow: 3px 3px 8px #888;
    -webkit-box-shadow: 3px 3px 8px #888;
    box-shadow: 3px 3px 8px #888;
}
.separadorView{
    border-color: #AEFFAB;
    width: 98%;
}
.disciView{
    float: left;
    margin-top: 5px;
    clear: both;
    margin-left: 3px;
    -moz-box-shadow: 3px 3px 8px #888;
    -webkit-box-shadow: 3px 3px 8px #888;
    box-shadow: 3px 3px 8px #888;
}
.linhaView1{
    clear: both;
    margin-top: 25px;
    margin-left: 10px;
}
.linhaView2{
    clear: both;
    margin-top: 0px;
    margin-bottom: 16px;
    padding: 5px 0px 5px 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.39);
    width: 97%;
}
.blockIframe{
    position: relative;
    top: -6px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0);
    float: left;
    width: 200px;
    height: 236px;
    z-index: 9;
}
.linhaView3{
    position: relative;
    clear: both;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.88);
    border-radius: 5px;
    border-bottom: thick solid #009900;
    border-width:2px;
}
.botao{
   cursor: pointer; 
}
.botao:hover{
   background-color: #9CEBB8;
}
.perfil{
    position: relative;
    left: -83px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 110px;
    float: left;
    border-radius: 15px;
    background-color: #B8D3BA;
    border:thick solid #009900;
    border-width:2px;
    -moz-box-shadow: 3px 3px 8px #888;
    -webkit-box-shadow: 3px 3px 8px #888;
    box-shadow: 3px 3px 8px #888;
}
.disciplinasDisp{
    margin-left: 45px;
}
.perfil2{
    position: relative;
    left: -83px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 110px;
    float: left;
    border-radius: 15px;
    background-color: #ffffcc;
    border:thick solid #cccc00;
    border-width:2px;
    -moz-box-shadow: 3px 3px 8px #888;
    -webkit-box-shadow: 3px 3px 8px #888;
    box-shadow: 3px 3px 8px #888;
}
.disci{
    float: left;
    margin-top: 5px;
    clear: both;
}
.grupo{
    position: relative;
    top: -25px;
    left: -31px;
    border-bottom:thick solid #318B4F;
    border-width:2px;
}
.select{
    width: 150px !important;
}
.imgImput{
    position: relative;
    width: 20px;
    left: 160px;
    top: 2px;
    cursor: pointer;
}
.imgImput2{
    width: 20px;
    cursor: pointer;
}
.loader{
    margin-left: 10px;
    margin-right: 5px;
}
.bordaPag{
    margin-left: 40px;
    width: 90%;
    border: 3px solid;
    border-color: rgba(31, 153, 0, 0.17);
}
